<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polity Dance</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @keyframes fadeInScale {
            0% {
                opacity: 0;
                transform: scale(0.8);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        .fade-in-scale {
            animation: fadeInScale 2s ease-in-out;
        }

        .peacockk {
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }

        .peacockk:hover {
            transform: scale(1.02);
            /* box-shadow:inset 0px 0px 10px 0px #0059bf; */
        }
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
        *{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>
<body class="bg-zinc-900 text-white flex flex-col justify-center items-center fade-in-scale h-screen">
    <div class="fixed top-1 bg-gradient-to-r from-yellow-400 via-red-500 to-red-700 text-white px-4 py-2 rounded peacockk">
        Live Now &rightarrow; Summing Up the Summers
    </div>
    <div class="flex flex-col items-center rounded-full gap-4 bg-gradient-to-b from-blue-900 to-blue-700 px-10 py-10 peacockk mb-2">
        <h1 class="text-5xl sticky top-1 font-bold underline decoration-red-600 mb-2">Polity-Dance</h1>
        <nav class="flex gap-3 sticky">
            <a href="/views/politics/home.html" class="px-3 py-2 text-lg font-semibold hover:underline disabled">Politics</a>
            <a href="/views/sports/home.html" class="px-3 py-2 text-lg font-semibold hover:underline disabled">Sports</a>
            <a href="/rhyme/tech" class="px-3 py-2 text-lg font-semibold hover:underline">Tech</a>
        </nav>
    </div>
    <a href="" class="text-zinc-500 hover:text-white">&copy; Fi-4 Web 2024</a>
    <!-- 0H3yCHGaOlBpOeHz | andashishwill -->
</body>
</html>
